<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Barra lateral - Litbook</title>
  <link rel="stylesheet" href="/static/css/barra_lateral.css">
</head>
<body>
  <!-- Barra lateral -->
  <div class="barra-lateral">
    <nav class="menu-lateral">
      <a href="#" class="menu-item">
        <img src="/static/img/inicio.png" alt="casa" /> Inicio
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/parroquia.png" alt="lista" /> Parroquia
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/reserva.png" alt="reserva" /> Reservas
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/acto.png" alt="acto_liturgico" /> Actos litúrgicos
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/pago.png" alt="pago" /> Pago
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/calendario.png" alt="calendario" /> Calendario
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/requisito.png" alt="requisito" /> Requisitos
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/reporte.png" alt="requisito" /> Reportes
      </a>
    </nav>
  </div>
</body>
</html>
