
<footer>
    <div class="sistema">
        <div class="info">
            <img src="/static/img/logotipo_litbook.png" alt="logo litbook">
            <h3>Litbook</h3>
        </div>
        <p class="descripcion">Plataforma en línea para reservar y gestionar actos litúrgicos en tu parroquia.</p>
        <div class="iconos">
            <img src="/static/img/facebook.png" alt="facebook">
            <img src="/static/img/twitter.png" alt="twitter">
            <img src="/static/img/instagram.png" alt="instagram">
            <img src="/static/img/linkedln.png" alt="linkedin">
        </div>
    </div>

    <div class="nosotros">
        <h3>Información del equipo</h3>
        <a href="#">Misión</a>
        <a href="#">Visión</a>
        <a href="#">Objetivos</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Información breve del equipo desarrollador</a>
    </div>

    <div class="servicios">
        <h3>Servicios parroquiales</h3>
        <a href="#">Bautismo</a>
        <a href="#">Matrimonios</a>
        <a href="#">Misas</a>
    </div>

    <div class="contacto">
        <h3>Contacto y soporte</h3>
        <div class="dato">
            <img src="/static/img/direccion.png" alt="dirección">
            <p>Oficina central de la diócesis / parroquia principal</p>
        </div>
        <div class="dato">
            <img src="/static/img/telefono.png" alt="telefono">
            <p>+51 1 234 5678</p>
        </div>
        <div class="dato">
            <img src="/static/img/carta.png" alt="correo">
            <p>soporte@parroquia.org</p>
        </div>
        <div class="dato">
            <img src="/static/img/reloj.png" alt="horario">
            <p>Lun-Vie 9:00am - 6:00pm</p>
        </div>
    </div>

    <div class="pie_pagina">
        <p>© 2025 Litbook - Todos los derechos reservados</p>
    </div>
</footer>
<link rel="stylesheet" href="/static/css/footer.css">