<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Header - Litbook</title>
  <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
  <!-- Barra superior -->
  <div class="barra-superior">
    <!-- Título a la izquierda -->
    <div class="titulo-left">
      <h3>
        <img src="/static/img/logotipo_litbook.png" alt="icono_iglesia" />
        Litbook
      </h3>
    </div>

    <!-- Info de usuario a la derecha -->
    <div class="info-usuario">
      <button id="btn_usuario" class="btn-icon" aria-label="Perfil">
        <a href="#"><img src="/static/img/usuario.png" alt="usuario" /></a>
      </button>

      <div class="user-text">
        <strong id="header_nombre_usuario">Cargando...</strong>
        <div class="texto-rol" id="header_cargo_usuario">Usuario</div>
      </div>

      <div class="notificacion-container">
          <button id="btn_notificaciones" class="btn-icon" aria-label="notificaciones">
              <img src="/static/img/notificaciones.png" alt="notificaciones" />
              <span id="badge_notificacion" class="badge-rojo" style="display: none;">0</span>
          </button>

          <div id="dropdown_notificaciones" class="dropdown-notificaciones">
              <div class="dropdown-head">
                  <h6>Notificaciones</h6>
              </div>
              <div id="lista_notificaciones" class="dropdown-body">
                  <p class="txt-vacio">Cargando...</p>
              </div>
          </div>
      </div>

      <button id="btn_cerrar_sesion" class="btn-icon" aria-label="Cerrar Sesión">
        <img src="/static/img/salida.png" alt="Cerrar Sesión" /></a>
      </button>

        <div id="modal_usuario" class="modal-usuario">
        <a href="/cliente/perfil">👤 Mi perfil</a>
        <a href="/cliente/mis_reservas">Mis reservas</a>
        <hr>
        <a href="#">⚙️ Mi rol: <span id="rol_actual">Usuario</span></a>
      </div>

    </div>
  </div>
  <script src="/static/js/header.js"></script>
</body>

</html>